{% extends "SharedTemplates/Content.html" %}
{% block content %}
    <div class="jumbotron shade pt-5">
        <div class="bd-example c-grey">
            <p class="text-dir-rtl text-right">
                جهت انجام فرایند تخصیص اتاق ابتدا
                <span class="fnt-code c-primary ">
                     ثبت نام
                </span>
                را غیرفعال کرده و سپس بر روی بر روی دکمه
                <span class="fnt-code c-primary ">
                    تخصیص اتاق
                </span>
                کلیلک کنید.
            </p>

            {% if signup %}
                <p class="text-dir-rtl text-right">
                    <button onclick="stopSignUP()">غیرفعال سازی ثبت نام</button>
                </p>
            {% endif %}

            {% if not signup %}
                <p class="text-dir-rtl text-right">
                    <button onclick="startSignUP()">فعال سازی ثبت نام</button>
                    <button onclick="startRoom()">آغاز فرایند تخصیص اتاق</button>
                </p>
            {% endif %}

        </div>
    </div>
    <script>
        function stopSignUP() {
            document.body.innerHTML += '<form id="formToSubmit" method="post">{% csrf_token %}<input type="hidden" name="signup" value="0"><input type="hidden" name="room" value=""></form>';
            document.getElementById("formToSubmit").submit();
        }

        function startSignUP() {
            document.body.innerHTML += '<form id="formToSubmit" method="post">{% csrf_token %}<input type="hidden" name="signup" value="1"><input type="hidden" name="room" value=""></form>';
            document.getElementById("formToSubmit").submit();
        }

        function startRoom() {
            document.body.innerHTML += '<form id="formToSubmit" method="post">{% csrf_token %}<input type="hidden" name="signup" value="0"><input type="hidden" name="room" value="start_process"></form>';
            document.getElementById("formToSubmit").submit();
        }


    </script>
{% endblock %}