<div class="row">
    <div class="page-header breadcrumb-header  p-3 mr-2 ml-2 m-2">
        <div class="row align-items-end ">
            <div class="col-lg-11">
                <div class="page-header-title text-left-rtl">
                    <div class="d-inline">
                        <h3 class="lite-text ">{{ user.first_name }} {{ user.last_name }} خوش آمدید </h3>
                        <span class="lite-text text-gray">سطح دسترسی شما:
                            {% if not user.is_staff %}
                                دانشجو
                            {% else %}
                                مدیر
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <ol class="breadcrumb float-right float-md-right float-sm-right">
                    <li class="breadcrumb-item ">
                        <button class="dropdown-item" type="button">
                            <i class="fas fa-moon fa-1x mr-3" onclick="dark()"> حالت شب </i>
                        </button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
