<div class="container-fluid side-bar-container">
    <header class="pb-0">
        <a class="navbar-brand">
            <p>سامانه مدیریت خوابگاه</p>
        </a>
    </header>
    <p class="side-comment">دانشجو</p>
    <ul>
        <li class="side a-collapse short ">
            <a href="" class="side-item "><i class="fas fa-desktop  mr-1"></i>مدیریت خوابگاه</a>
        </li>
    </ul>
    <p class="side-comment">کارمند</p>
    <ul>
        <li class="side a-collapse short ">
            <a href="" class="side-item "><i class="fas fa-desktop  mr-1"></i>مدیریت دانشجو ها</a>
        </li>
        <li class="side a-collapse short ">
            <a href="" class="side-item "><i class="fas fa-desktop  mr-1"></i>مدیریت خوابگاه ها</a>
        </li>
        <li class="side a-collapse short ">
            <a href="" class="side-item "><i class="fas fa-desktop  mr-1"></i>مدیریت اتاق ها</a>
        </li>
    </ul>
</div>